# macOS

.DS_Store

# Xcode user data

xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Xcode build files

DerivedData/
build/
Build/
*.build/

# Xcode workspace user data

*.xcworkspace/xcuserdata/

# Xcode project user data

*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager

.swiftpm/
.build/

# CocoaPods

Pods/

# Carthage

Carthage/Build/

# Fastlane

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# App packages

*.ipa
*.dSYM.zip
*.dSYM

# Environment variables

.env
.env.*
!.env.example

# Secrets

*.p8
*.cer
*.mobileprovision
*.provisionprofile

# Logs

*.log

# Temporary files

tmp/
temp/
